body {
  font-family: Arial, sans-serif;
  background-color: #1a1d36;
  color: aliceblue;
  margin: 0;
  padding: 0;
  text-align: left; 
}


.imagen {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
  display: block;
  margin: 20px 0; 
}


.foto_proyecto {
  width: 350px;
  height: 220px;
  object-fit: cover;
  border-radius: 5px;
  transition: transform .3s ease;
}

.foto_proyecto:hover {
  transform: scale(1.05);
}


h1, h2, h3 {
  text-align: left; 
  margin-top: 30px;
}

section {
  text-align: left; 
}


.d-flex {
  justify-content: flex-start; 
  text-align: left;
}

.ms-4 {
  margin-left: 20px !important; 
}


.btn-outline-success {
  margin-left: 0; 
}


@media (max-width: 600px) {
  .foto_proyecto_
}